@tailwind base;
@tailwind components;
@tailwind utilities;

.shawobox {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.primaryColor {
     color: #ABE839;
}
.primaryBg {
     background-color: #ABE839;
}